<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🦋 Butterfly</title>
  <link href="https://fonts.googleapis.com/css?family=Mukta|Nunito" rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/typeface-quicksand/index.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="top" style="margin: 0 2rem;">
    <nav class="nav">
      <div class="nav-left">
        <a href="/">
          <h1>🦋 Butterfly</h1>
        </a>
      </div>
      <div class="nav-right">
        <a class="button outline" href="https://www.teamunify.com/Home.jsp?team=ohlys" target="_blank">Stingrays Homepage</a>
      </div>
    </nav>
  </div>
